@import "./variables";

.container {
  margin-top: 73px;
  margin-left: 98px;

  position: absolute;
  .top-container {
    width: 81.2vw;
    img {
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
    .user-details {
      display: flex;

      img {
        width: 140px;
        height: 140px;
        border-radius: 100%;
        margin-top: -22px;
        position: relative;
        z-index: 313122;
      }
      .user-info {
        margin-left: 12px;
        color: white;
        .username {
          font-size: 1.8rem;
          margin-bottom: 7px;
        }
        .friends-count {
          font-size: 1.8rem;
        }
        .btn {
          border: 1px solid white;
          padding: 0.3em 1em;
          font-size: 1.5rem;
          cursor: pointer;
          margin-top: 12px;
        }
      }
    }
  }
}

.post-container {
  margin-top: 32px;
  .title {
    color: white;
    font-weight: bold;
    font-size: 2rem;
  }
  .posts {
    margin-top: 42px;
    display: grid;
    grid-template-columns: repeat(4, 260px);
    grid-row-gap: 22px;
    grid-column-gap: 22px;
    @media screen and (max-width: 1200px) {
      grid-template-columns: repeat(3, 260px);
    }
    @media screen and (max-width: 900px) {
      grid-template-columns: repeat(2, 260px);
      place-items: center;
      justify-content: center;
    }
    @media screen and (max-width: 600px) {
      grid-template-columns: repeat(1, 260px);
      place-items: center;
      justify-content: center;
    }

    .user-post {
      position: relative;
      cursor: pointer;
      transition: all 0.7s ease;
      &:hover {
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.7);
          z-index: 1;
        }
        .user-stats {
          opacity: 1;
        }
      }

      img {
        width: 100%;
        height: 380px;
        object-fit: cover;
      }
      .user-stats {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 12;
        display: flex;
        align-items: center;
        transition: all 0.7s ease;
        opacity: 0;
        .like {
          display: flex;
          align-items: center;
          .icon {
            width: 20px;
            height: 20px;
          }
          .like-count {
            color: white;
            font-size: 1.5rem;
            margin-left: 7px;
          }
        }
        .comment {
          display: flex;
          align-items: center;
          margin-left: 12px;
          .icon {
            width: 20px;
            height: 20px;
          }
          .like-count {
            color: white;
            font-size: 1.5rem;
            margin-left: 7px;
          }
        }
      }
    }
  }
}

.userpic-container {
  position: relative;
  label {
    position: absolute;
    bottom: 12px;
    right: -42px;
    #camera {
      height: 35px;
      object-fit: contain;
      cursor: pointer;
    }
  }

  input {
    display: none;
  }
}

.cover {
  position: relative;
  z-index: 32212;

  label {
    position: absolute;
    right: 0;
    bottom: 0;
    #icon {
      height: 35px;
      cursor: pointer;
      object-fit: contain;
    }
  }
  input {
    display: none;
  }
}

.modal {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 13212132;
  height: 200px;
  width: 200px;
  background-color: #0e0e10;
  padding: 5em 0.6em;
  color: white;
  border-radius: 16px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
  .input {
    padding: 0.4em 0.5em;
    width: 100%;
    display: block;
    margin-bottom: 12px;
    background-color: #0e0e10;
    border: none;
    color: white;
    font-size: 1.7rem;
    &:focus {
      outline: none;
    }
  }
  .btn {
    font-size: 1.8rem;
    text-align: center;
    cursor: pointer;
    margin-bottom: 12px;
    &:nth-of-type(2) {
      color: red;
    }
  }
}
